
@{
    ViewData["Title"] = "作業5";
}
@*選擇圖片上傳時先進行預覽*@
<h1>作業5</h1>
<span>
    @Html.ActionLink("回到主頁", "Index", "Home", null, new { @class="btn btn-warning"})
</span>
<hr />
<div class="row">
    <div class="col-6">
        <form method="Post" name="forminput" enctype="multipart/form-data">

            <div class="mb-3">
                <label for="formFile" class="form-label">選擇檔案</label>
                <input class="form-control" type="file" id="formFile" name="photo">
            </div>

        </form>
        <div class="alert alert-secondary mt-3"><img id="display" /></div>

    </div>
</div>

@section Scripts{
    <script>
        const selectfile = document.querySelector("#formFile");
        const display = document.querySelector("#display");

        //https://progressbar.tw/posts/47
        //https://stackoverflow.com/questions/4459379/preview-an-image-before-it-is-uploaded
        selectfile.addEventListener("change", () => {
            const [file] = formFile.files
            if (file) {
                display.src = URL.createObjectURL(file)
            }
        })
    </script>
}
